@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main role="main">
        <div class="main-content">
            @Body
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            &copy; 2025 MiningTradingClientApp - All Rights Reserved.
        </div>
    </footer>
</div>