<div class="main-nav">
    <div class="nav-container">
        <a class="app-brand" href="">
            <img src="favicon.png" alt="Logo" class="brand-logo">
            MiningTradingClientApp
        </a>
        <button class="menu-toggle" @onclick="ToggleNavMenu">
            <span class="toggle-icon"></span>
        </button>
        <div class="@NavMenuCssClass nav-links">
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-item" href="minerals">
                <span class="bi bi-gem" aria-hidden="true"></span> Minerals
            </NavLink>
            <NavLink class="nav-item" href="searchminerals">
                <span class="bi bi-search" aria-hidden="true"></span> Search
            </NavLink>
            <NavLink class="nav-item" href="ordertracking">
                <span class="bi bi-truck" aria-hidden="true"></span> Order Tracking
            </NavLink>
            <form class="search-form" action="searchminerals">
                <input type="search" placeholder="Search minerals..." aria-label="Search" name="searchTerm" class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}